.listvoice-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFCE5;
    width: 1000px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.listvoice-card .listvoice-avatar img{
    width: 100px;
    height: 90px;
    border-radius: 50%;
}
.listvoice-card .listvoice-info{
    margin: 5px 20px
}
.listvoice-card .listvoice-info .listvoice-personal{
    text-align: center;
    color: #737373;
    font-weight: 600;
}
.listvoice-card .listvoice-sound{
    background: transparent;
}
.listvoice-card .listvoice-sound audio{
    width: 700px;
    margin: 5px 0px;
}
.listvoice-card .listvoice-sound audio::-webkit-media-controls-panel{
    background: #FFFCE5;
}

.listvoice-card .listvoice-time{
    text-align: center;
}
.listvoice-card .listvoice-icon{
    background: #FDF8C8;
    border-radius: 50%;
    padding: 10px 10px;
}